.live-exchanges-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .currency-rates {
    margin-top: 20px;
  }
  
  .currency-rate {
    margin-bottom: 10px;
  }
  
  .currency {
    font-weight: bold;
  }
  